# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Streamlit and temporary files
*.tmp
*.log
*.db
*.sqlite3
.streamlit/secrets.toml

# Jupyter Notebook checkpoints (if you use notebooks)
.ipynb_checkpoints/

# VS Code settings (optional, if you use VS Code)
.vscode/

# OS-specific files
.DS_Store
Thumbs.db

# Streamlit config
.streamlit/*.toml

# Temporary files created by your app
tmp/

# Python Virtual Environment
venv/
.venv/
env/
.env